;What this stripper does:
; -Replace pre-existing vscript with english translated vscript

;replace vscript
modify:
{
    match:
    {
        "classname" "logic_script"
    }
    replace:
    {
        "vscript" "silenthill2_en.nut"
    }
}